/* Estilição do formulario */
.feedback_form {
  max-width: 600px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

/* Estilização da textearea */
.feedback_form textarea {
  resize: none;
  width: 400px;
  height: 100px;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 0.8rem;
}


.form_control_rating {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

/* Classe de erro do input */
.error {
  color: red;
  font-size: 0.8rem;
}
